@model AppProductImages.Models.ProductAddViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Додати товар</h1>

<hr />
<div class="row">
    <div class="offset-md-2 col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Фото</label>
                <div class="row" id="contentImage">
                    <div class="col-md-2">
                        <img src="/img/add.jpg"
                             id="btnAddImage"
                             style="cursor:pointer"
                             width="100%" />
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script>
    window.addEventListener("load", async function () {
        let id = 1;
        //Додати фотку в список фото (нову фотку)
        let btnAddImage = document.getElementById("btnAddImage");
        btnAddImage.addEventListener("click", function () {
            //блок, який містить усі фотки
            let $blockImages = $("#contentImage");
            //Іd - інтпута для вибору файла фото
            let idName = "image" + id;
            id++;
            let file = $(`<input type="file"
                                style="display:none"
                                multiple class="form-control"
                                id="${idName}" name="images">`);
            //додаємо інпут в дом дерево - там де знаходяться усі елементи фото
            $blockImages.prepend(file);
            //ми додали наш інпут для файлу в дом, тепер мона його отримати
            let input = document.getElementById(idName);
            //Клікаємо по інтпуту
            input.click();
            //якщо ми обрали, якись файл
            input.onchange = function (e) {
                //console.log(e.target.files[0].name);
                for (var i = 0; i < e.target.files.length; i++) {

                    //створюємо дів, для збереження фото
                    $blockImages.prepend(`
                            <div class="col-md-2">
                                <img src="${URL.createObjectURL(e.target.files[i])}"
                                     width="100%"/>
                            </div>
                        `);
                }
            };
        });
    });
</script>
} 

